@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(3, 255, 247);
    width: 434px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}
 
.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    */background-color: yellow;*/
    width: 90vw;
}

.container{
    display: flex;
}

.infocontainer{
    */background-color: rgb(255, 0, 217);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}


.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 40px;
}

.moreabout{
    font-size: 22px;
    margin-top: 23px    ;
    font-family: 'Fira Sans', sans-serif;
}

.buttons{
    margin-top: 34px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover{
    background-color: white;
    color: green;
}

.devpic img{
    height: 58vh;
}

.contactform{
    padding: 0 344px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform div{
    padding: 10px 0;
    display: flex;
        flex-direction: column;
}

.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}


#emailHelp{
    font-size: 17px;
    color: rgb(58, 196, 69);
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 29px;
    margin: 3px 0;
}

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;

}

.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;

}

.blogItem p{
    font-family: 'Source Code Pro', monospace;

}